{% extends 'main.html' %}

{% block content %}
<center>
    {% if request.user.is_authenticated %}
        <h2>Adding Patient Details</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <label for="name">NAME</label>
            <input type="text" name="name" required> <br>

            <label for="age">AGE</label>
            <input type="text" name="age" required> <br>

            <label for="gender">GENDER</label>
            <input type="text" name="gender" required> <br>

            <label for="address">ADDRESS</label>
            <input type="text" name="address" required> <br>

            <label for="contact">CONTACT</label>
            <input type="text" name="contact" required> <br>

            <label for="consulting">CONSULTING</label>
            <input type="text" name="consulting" required> <br>

            <input type="submit" value="Submit">
        </form>
    {% else %}
        <h2>You are not logged in. <a href="{% url 'login' %}">Login here</a></h2>
    {% endif %}
</center>
{% endblock %}
