<nav>
    <div class="class">Hospital Management</div>
    <div>
        
        {% if request.user.is_authenticated %}
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'patient_list' %}">Patient List</a>
        <a href="{% url 'add_patient' %}">Add Patient</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout_' %}">Logout</a>
    
        {% else %}  
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login_' %}">Login</a>
            
        {% endif %}
    </div>
</nav>